.cablogo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
  }
  .cabeçalho {
    background-color: #ffffff;
    width: 100%;
    height: 18vh;
    float: left;
    position: relative;
  }

  .cabmenu {
    position: relative;
    float: right;
    margin-right: 10%;
    width: 50%;
  }
  
  .cabmenu ul {
    text-align: right;
    margin-top: 1vh;
  }
  
  .cabmenu ul li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-left: 10%;
    margin-top: 0px;
    font-family: "Montserrat";
    font-size: clamp(0.2em, 0.4em + 0.5vw, 1.4em);
  }