.rodape {
    width: 100%;
    height: 18vh;
    float: left;
    position: relative;
    background-color: #5faec6;
  }
  
  .rodapetexto {
    margin-top: 1%;
    float: left;
    position: relative;
    width: 50%;
    margin-left: 1%;
  }
  
  .rodapetexto h2 {
    color: #ffffff;
    font-size: clamp (0.8em, 1.4em + 1vw, 1.5em);
    text-align: right;
  }
  
  .rodaperedes {
    margin-top: 1%;
    width: 49%;
    float: left;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .rodaperedes ul {
    padding: 0px;
    margin-left: 0.5%;
  }
  
  .rodaperedes ul li {
    display: inline-block;
    list-style: none;
  }
  
  .rodape p {
    text-align: center;
    color: #ffffff;
    font-size: clamp(0.2em, 0.4em + 1vw, 1em);
  }